<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body >

<img src="https://www.cugb.edu.cn/r/cms/www/blue/images/logo-white-v-new.png">

<div>
<form action="{{ url_for('Quartz')}}"method="post">
    <input type="submit" value="Quartz" id="result">
</form>
<!--<form action="{{ url_for('result2')}}"method="post">-->
<!--      <input type="submit" value="Predict" id="result2">-->
<!--</form>-->
    <fieldset>
    <p>The laboratory has been committed to the related research on using artificial intelligence technology to
        solve geological problems, and related experimental projects will be launched one after another. If you have
        any cooperation intentions or questions, please contact us by <a href="mailto:2104210036@email.cugb.edu.cn">email</a>,
        we will reply as soon as possible.</p>
    </fieldset>
</div>
</body>
</html>